body, html {
    height: 100%;
}

body {
    background-color: rgb(128, 45, 253);
    background-size: cover;
    background-position: center;    
}

form {
    text-align: center;
    height: 586px;
    width: 450px;
    background-color: transparent;
    padding: 20px;
    border: 2px solid rgba(255,255,255, .2);
    border-radius: 20px;
    backdrop-filter: blur(100px);
    box-shadow: 0px 0px 10px rgba(0,0,0, .2);
    margin: 50px auto;
}

label {
    display: block;
    margin-bottom: 10px;
    font-weight: bold;
}


input[type="text"], input[type="password"], input[type="email"] {
    height: 3%;
    width: 60%;
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 20px;
    background-color: transparent;
    padding: 20px;
    border: 2px solid rgba(255,255,255, .2);
    backdrop-filter: blur(20px);
    box-shadow: 0px 0px 10px rgba(0,0,0, .2);
    color: white;
}

input::placeholder {
    text-align: left;
    color: #f7eded;
}

img {
    position: absolute;
    right: 120px;
    color: #f7eded;
}
input[type="submit"]:hover{
    
    background-color: rgb(128, 45, 253);
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.471);
    transition-duration: 0.7s;

}
input[type="submit"] {
    background-color: #f7eded;
    color: rgb(128, 45, 253);
    border: none;
    border-radius: 10px;
    cursor: pointer;
    height: 7%;
    width: 60%;
    font-size: 15px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    
}

h1 {
    text-align: center;
    font-family: "Franklin Gothic", sans-serif;
    font-size: 500%;
    color: #f7eded;
}

p {
    font-family: "Franklin Gothic", sans-serif;
    color: #f1eded;
}
a{
    color: rgb(128, 193, 242);
}
#imgEmail {
    bottom: 345px;
}

#imgSenha {
    bottom: 235px;
}